:root {
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
p,
label,
input,
button,
textarea,
select {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-weight: 800;
  font-size: 1.25rem;
}