:root {
  --color-primary: #c973ff;
  --color-secondary: #aebaf8;
  --color-text-primary: black;
  --color-text-secondary: white;
  --border-primary: 1px solid #e6e8ee;
  --border-radius-primary: 0.75em;
  --border-radius-secondary: 1em;
  --margin-primary: 0.75em;
  --box-shadow-primary: 0 1px 2px rgba(0, 0, 0, 0.04), 0 12px 24px rgba(0, 0, 0, 0.06);
  --box-shadow-secondary: 0 8px 20px rgba(0, 0, 0, 0.10), 0 20px 40px rgba(0, 0, 0, 0.14);
  --color-background-primary: #ffffff;
  --hover-brightness: 0.98;
}